.camisa {
    background-color: #adffbf;
}

.camisa__content {
    align-items: center;
    width: 900px;
    margin: 0 auto;
    padding: 50px 0;
}

.camisa__modelo {
    position: relative;

    img {
        width: 100%;
        height: 550px;
        object-fit: contain;
    }
    
    h3 {
        color: #fff;
        font-size: 2rem;
        text-align: center;
        position: absolute;
        bottom: 70px;
        margin-left: 5px;
        left: 50%;
        transform: translateX(-50%);
    }
}